@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Space+Mono&family=Titillium+Web:wght@700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,500&display=swap');

*{
  
    box-sizing: border-box;

}
body{
    /* background-image: linear-gradient(to left, #AEBDCA, #3b3d3c); */
    background-color: #e0f0ec;
    font-family: ubuntu,sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 40px;
   
 
}

@font-face {
    font-family: 'Savana';
    font-style: normal;
    font-weight: bold;
    src: url('Savana.otf') format('opentype');
  }

#pic{
    padding: 20%;
    width: 20%;

}

.skill_table{
    border: 1px solid black;
    width: 300px;
}

th{
    border: 1px solid black;
}

.margin{
    border: 1px solid rgba(0, 0, 0, 0.521);
}

hr{
    background-color: #e0f0ec;
    border:5px dotted rgba(187, 177, 177, 0.548);
    border-style: none none dotted ;
    width:10%;
}


h1{
    color: #2c2c2c;
}

h2{
    color: #3a2442;
}

h3{
    color: #7D6E83;
}

#bgimg{
    
    max-width: 8000px;
   
    position: relative;
    top: 60px;
    

}



.up{
    text-align: center;
    grid-gap: 10px;
    padding: 20px;
}

.top-container{
    background-color: #bef5ece3;
    text-align: center;
    padding:20px 0;
    width: 100%;
    height: 1000px;
    
}
.right-cloud{
    position: absolute;
    right:12px;
    top:686px;
    
}

.left-cloud{
    position: absolute;
    left:51px;
    top:301px;
    
   
    
    
}

.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: #444141;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: fixed;
    top:0px;
    width:100%;
    height: 90px;
    background-color: #444141;
    z-index: 10;
}


.header h1{
    display: inline-block;
    font-family: space mono;
    font-weight: 200;
    cursor: pointer;
    font-size: 26px;
    color: #e3e2e4;;
    
   
}

.header h1 span{
    font-weight: 800;
   
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0 20px;

}

.nav_links li a {
    transition: all 0.5s ease 0.01s;
    color: #e3e2e4;
    font-size: 18px;
    font-family: space mono,Arial, Helvetica, sans-serif;
}

.nav_links li a:hover {
    color: #f37f7f;
    
}

.middle-container{
    margin-left: 20px;
}

.name{
    font-family: pacifico,Arial, Helvetica, sans-serif;
    font-size: 60px;
    margin-top: 270px;
}

.programmer{
    font-family: Savana,'Space Mono',Arial, Helvetica, sans-serif;
    font-weight: 1300;
    font-size: 3rem;
    color: #4d494e;
}
.what_i_do{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.what{
    font-family:"Titillium Web",Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(58, 56, 56);
}

.what-to-do-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:auto 300px auto  300px
}
.what-to-do-container div{
    margin-left: 70px;
    min-width: 300px;
    max-width: 700px;
}
.what-to-do-container div h3{
    color: #31949b;
    font-weight: bolder;
    font-size: 1.5rem;
    
}

.what-to-do-container div p{
    
    line-height: 2;
    margin-right: 30px;
    
}

.what-to-do-container img{
    border-radius: 90px;
    width: 400px;
    
    
}
.footer{
    background-color: rgba(126, 117, 117, 0.61);
    position:relative ;
    top:150px;
    height:60px ;
    width: 100%;
    height:2.5em;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}



p{
    line-height: 1.5;
    font-weight: 3000;
    font-size: 1.2rem;
}

/* 'Montserrat', sans-serif; */